* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  &__top-box {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    &__user {
      font-weight: bold;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__name {
        color: #ffffff;
        line-height: 20px;
        font-size: 16px;
      }
      &__icons {
        display: flex;
        list-style: none;
          li {
            
          }
          i {
            color: #ffffff;
            margin-left: 5px;
          }
      }
    }
  }
  &__group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    margin: 20px 20px 0 20px;
    &__box {
      margin-bottom: 40px;
      font-weight: bold;
      &__name {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        color: #ffffff;
        font-size: 11px;
      }
    }
    &__box {
      margin-bottom: 40px;
      font-weight: bold;
      &__name {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        color: #ffffff;
        font-size: 11px;
      }
    }
  }
}


.main-chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
  
  &__group-name {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    &__leftbox {
      margin-top: 35px;
      &--name {
        color: #333333;
        font-size: 20px;
      }
      &--member {
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
        display: flex;
        &--list {
          padding-left: 3px;
        }
      }
    }
    &__rightbox {
      width: 72px;
      height: 40px;
      border: solid 1px;
      margin: 28px 40px;
      padding: 0 20px;
      line-height: 40px;
      color: #38aef0;
      font-size: 16px;
      .edit__btn {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px 0px 40px;
    &__box { 
      padding-bottom: 46px;
      &__user {
        margin-bottom: 12px;
        display: flex;
        &__name {
          color: #333333;
          font-size: 16px;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      &__message {
        color: #434A54;
        font-size: 14px;
      }
      }
    }
    &__box { 
      padding-bottom: 46px;
      &__user {
        margin-bottom: 12px;
        display: flex;
        &__name {
          color: #333333;
          font-size: 16px;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      &__message {
        color: #434A54;
        font-size: 14px;
      }
      }
    }
  }
  
  .form {
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 10px;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        cursor: pointer;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }    
    }              
    &__submit {
      width: 100px;
      height: 50px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
      margin-left: 15px;
    }    
  }  
}
